header {
    background-color: $gray;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s;
    
    @media (max-width: 991px) {
        padding: 20px 0;
    }
    
    &.fixed {
        transform: translateY(-100%);
    }
}
